:root {
	// Colors
	--primary-color: #00B0FF;
	--white: #fff;
	--black: rgb(58, 57, 57);
	--black2: rgb(133, 133, 133);
	--grey: #eee;

	--overlay-dark: rgba(0, 0, 0, .5);

	// Font
	--font-normal: .9em;
	--font-big: 1.2em;
	--font-giant: 6em;

	// Shadow
	--shadow-normal: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	--shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	// Button
	--btn-padding: .5rem 1rem;
	--btn-padding-ver: .5rem;
	--btn-padding-hor: 1rem;

	// General
	--def-margin-hor: 1rem;
	--def-margin-ver: 1rem;
	--def-margin-ver2: 2rem;
	--def-radius: .15rem;

	// --def-gap: .5rem;
	--def-gap: 1rem;
	--def-transition: all .3s ease-in;
}

@media all and (min-width: 40rem) {
	:root {
		--def-margin-hor: 3rem;
	}
}

// @media all and (min-width: 60rem) {
// 	:root {
// 		--def-margin-hor: 6rem;
// 	}
// }

/*==========================
=== Defaults and Resets
===========================*/

html {
	font-family: 'Work Sans', sans-serif;
	color: var(--black);
}

body {
	margin: 0;
}

ul {
	margin: 0;	
	padding: 0;
}

li {
	list-style: none;
}

h3, p {
	margin: 0;
}

img {
	height: 100%;	
	width: 100%;	
}



[type="button"],
[type="button"],
button,
button a {
	cursor: pointer;
	color: var(--black2);

	// border: none;
	border-radius: var(--def-radius);
	padding: var(--btn-padding);

	transition: var(--def-transition);

	&:hover,
	&:focus {
		outline: none;
		background: var(--grey);
	}
}

.inactive {
	display: none;
}

/*==========================
=== Keyframes if there are any
===========================*/

/*==========================
=== Header / Nav
===========================*/

body > header {
	color: var(--white);
	margin-bottom: var(--def-margin-ver2);
	h1 {
		margin: 0;
		color: var(--black);
		text-align: center;
	}
	a {
		// color: var(--white);
		text-decoration: none;
	}
	// background: var(--primary-color);

}

@media all and (min-width: 30rem) {

}

nav {
	ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		justify-content: center;
		flex-wrap: wrap;
		
		height: 100%;
		
		margin: 0 var(--def-margin-hor);
		padding: 1rem 0;
	}

	li {
		// padding: 0 var(--btn-padding-hor);
		
		&:first-of-type {
			margin-right: auto;
			width: 100%;
		}
		&:not(:first-of-type) {
			height: 100%;
			a {
				color: var(--black2);
				margin-right: 1rem;
				border-radius: var(--def-radius);
				padding: var(--btn-padding);

				transition: var(--def-transition);

				&:hover,
				&:focus {
					background: var(--grey);
				}
			}
		}
		&:last-of-type {
			a {
				margin: 0;

				color: var(--white);
				background: var(--primary-color);
				box-shadow: var(--shadow-normal);
				
				&:hover,
				&:focus {
					// opacity: .7;
					background: var(--primary-color);
					box-shadow: var(--shadow-hover);
				}
			}
		}
	}
}
	
@media all and (min-width: 35em) {
	body > header {
		h1 {
			text-align: inherit;
		}
	}

	nav {
		ul {
			margin: 0 4rem;
		}

		li {
			&:first-of-type {
				// margin-right: auto;
				width: inherit;
			}
		}
	}
}

/*==========================
=== Container
===========================*/

main {
	margin-bottom: var(--def-margin-ver2);
	&>section {
		margin: 0 var(--def-margin-hor);
	}
}

@media all and (min-width: 35em) {
	main {
		&>section {
			margin: 0 4rem;
		}
	}
}
@media all and (min-width: 60em) {}

/*==========================
=== Views
=== Yup using the id's becuse they are there already so why not?
=== Btw id's are somewhat faster than classes but it is insignificant
== Or do not use id's => classes again now
===========================*/

.view__home {

}

.view__details {}
.view__profile {}

@media all and (min-width: 40rem) {
	.view__home {

	}
	.view__details {}
	.view__profile {}
}

/*==========================
=== Home / User Library
===========================*/

.view__home {
	form {
		display: flex;
		// flex-direction: column;
		width: 100%;

		margin-bottom: var(--def-margin-ver2);
		// margin-bottom: var(--def-margin-ver);

		[type="button"] {
			margin-left: 1rem;
		}
	}
	
	[type="text"] {
		font-size: 1em;

		height: 2em;
		width: 100%;

		border: none;
		border-bottom: 2px solid var(--grey);
		padding: 0 .5em;

		&::-webkit-input-placeholder, /* Chrome/Opera/Safari */
		&::-moz-placeholder, /* Firefox 19+ */
		&:-ms-input-placeholder, /* IE 10+ */
		&:-moz-placeholder { /* Firefox 18- */
			// color: -var(--grey);
			color: green;
		}

		&:focus,
		&:hover {
			outline: none;
		}
	}	
}

.view__home--filter {
	margin-bottom: var(--def-margin-ver);
	
	a {
		color: var(--black);
		font-weight: 500;
		text-decoration: none;

		transition: var(--def-transition);

		&:focus,
		&:hover {
			outline: none;
			color: var(--primary-color);
		}

		&:not(:last-of-type) {
			margin-right: 1rem;
		}
	}
}

.user__view {
	button {
		padding: var(--btn-padding-ver) 0;
	}
	
	button a {
		color: var(--black);
		text-transform: uppercase;
		font-weight: 500;
		text-decoration: none;
	}
}

// .user__view {
// 	opacity: .3;
// 	transform: translateY(3em);
// 	// transition-delay: 10s;
// 	transition: var(--def-transition) 10s;
// }

// .user__view--active {
// 	transform: translateY(0);
// 	opacity: 1;
// }

/*==========================
=== Cards/items style
===========================*/

.items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
	grid-gap: 1.4rem;

}

.item {
	display: flex;
	position: relative;
	height: 100%;
	overflow: hidden;

	// box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	box-shadow: var(--shadow-normal);

	transition: var(--def-transition);

	&::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0;
		background: var(--black);

		transition: var(--def-transition);
	}
	
	&:hover,
	&:focus {
		outline: none;
		// box-shadow: 0 5px 10px var(--black);
		box-shadow: var(--shadow-hover);

		&::before {
			// z-index: 100;
			// background: var(--overlay-dark);
			opacity: .4;
		}
		h3 {
			transform: translateY(0);
		}
		
		p {
			// transform: translateY(50%);
			transform: translateY(0);
		}
	}
	
	h3, p {
		position: absolute;
		color: var(--white);
		margin: 0 var(--def-gap);
		pointer-events: none;
		transition: var(--def-transition);
		
	}

	h3 {
		bottom: var(--def-gap);
		font-size: var(--font-normal);
		font-weight: 500;
		transform: translateY(5em);
	}

	// To be changed
	p,
	p::before {
		align-self: center;
		right: 0;
		left: 0;
		text-align: center;
		transform: translateY(-3em);
		// transform: translateY(0);
	}

	.item__rating {
		font-size: var(--font-giant);

		&::before {
			content: "my rating";
			font-size: .8rem;
			position: absolute;
			align-self: center;
		}
	}
}


@media all and (min-width: 30rem) {
	.items {
		grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	}
}

/*==========================
=== Overview
===========================*/

.view__overview {
	// .items {
	// 	display: grid;
	// 	grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
	// 	grid-gap: 1rem;
	// }

	// img {
	// 	width: 100%;
	// }
}

@media all and (min-width: 30rem) {
	// .view__overview {
	// 	.items {
	// 		grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	// 	}
	// }
}