:root {
    --primary-color: #00B0FF;
    --white: #fff;
    --font-normal: .9em;
    --font-big: 1.2em;
    --def-margin-hor: 1rem;
}

@media all and (min-width: 40rem) {
    :root {
        --def-margin-hor: 3rem;
    }
}

/*==========================
=== Defaults and Resets
===========================*/
html {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.inactive {
    display: none;
}

/*==========================
=== Header / Nav
===========================*/
body > header {
    color: var(--white);
    background: var(--primary-color);
}

body > header h1 {
    margin: 0;
}

body > header a {
    color: var(--white);
}

nav ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0.5rem var(--def-margin-hor);
    height: 100%;
}

nav li:first-of-type {
    margin-right: auto;
    width: 100%;
}

nav li:not(:first-of-type) {
    height: 100%;
}

nav li:not(:first-of-type) a {
    padding: .5rem 1rem;
}

nav li:last-of-type a {
    padding-right: 0;
}

/*==========================
=== Container
===========================*/
main > section {
    margin: 0 var(--def-margin-hor);
}

/*==========================
=== Views
=== Yup using the id's becuse they are there already so why not?
=== Btw id's are somewhat faster than classes but it is insignificant
== Or do not use id's => classes again now
===========================*/
/*==========================
=== Home / User Library
===========================*/
.view__home form {
  display: flex;
  flex-direction: column;
  width: 100%; }

.view__home [type="text"] {
  font-size: 1em;
  height: 2em;
  padding: 0 .5em; }

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
  grid-gap: 1rem; }
  .items img {
    width: 100%; }

@media all and (min-width: 30rem) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr)); } }

/*==========================
=== Overview
===========================*/
