:root {
	// Colors
	--primary-color: #00B0FF;
	--white: #fff;
	--black: rgb(58, 57, 57);

	--overlay-dark: rgba(0, 0, 0, .5);

	// Font
	--font-normal: .9em;
	--font-big: 1.2em;
	--font-giant: 6em;

	// General
	--def-margin-hor: 1rem;
	// --def-gap: .5rem;
	--def-gap: 1rem;
	--def-transition: all .3s ease-in;
}

@media all and (min-width: 40rem) {
	:root {
		--def-margin-hor: 3rem;
	}
}

/*==========================
=== Defaults and Resets
===========================*/

html {
	font-family: 'Work Sans', sans-serif;
}

body {
	margin: 0;
}

ul {
	margin: 0;	
	padding: 0;
}

li {
	list-style: none;
}

h3, p {
	margin: 0;
}

img {
	height: 100%;	
	width: 100%;	
}


.inactive {
	display: none;
}

/*==========================
=== Keyframes if there are any
===========================*/

/*==========================
=== Header / Nav
===========================*/

body > header {
	color: var(--white);
	h1 {
		margin: 0;
	}
	a {
		color: var(--white);
	}
	background: var(--primary-color);

}

nav {
	ul {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		flex-wrap: wrap;
		padding: .5rem var(--def-margin-hor);
		height: 100%;

		// display: grid;
		// grid-template-columns: 1fr 1fr;
		// justify-items: center;
	}

	li {
		&:first-of-type {
			margin-right: auto;
			width: 100%;
		}
		&:not(:first-of-type) {
			height: 100%;
			// background: red;
			a {
				padding: .5rem 1rem;
			}
		}
		&:last-of-type {
			a {
				padding-right: 0;
			}
		}
	}
	
}
	

/*==========================
=== Container
===========================*/

main {
	&>section {
		margin: 0 var(--def-margin-hor);
	}
}

/*==========================
=== Views
=== Yup using the id's becuse they are there already so why not?
=== Btw id's are somewhat faster than classes but it is insignificant
== Or do not use id's => classes again now
===========================*/

.view__home {

}

.view__details {}
.view__profile {}

@media all and (min-width: 40rem) {
	.view__home {

	}
	.view__details {}
	.view__profile {}
}

/*==========================
=== Home / User Library
===========================*/

.view__home {
	form {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	
	[type="text"] {
		font-size: 1em;
		// flex: 1;
		// font-size: var(--font-big);

		height: 2em;
		padding: 0 .5em;
	}

	form {
		
	}
}

.items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
	grid-gap: 1rem;

}

.item {
	display: flex;
	position: relative;
	height: 100%;
	overflow: hidden;

	transition: var(--def-transition);

	&::before {
		content: "";
		position: absolute;
		height: 100%;
		width: 100%;
		opacity: 0;
		background: var(--black);

		transition: var(--def-transition);
	}
	
	&:hover,
	&:focus {
		outline: none;
		box-shadow: 0 5px 10px var(--black);

		&::before {
			// z-index: 100;
			// background: var(--overlay-dark);
			opacity: .5;
		}
		h3 {
			transform: translateY(0);
		}
		
		p {
			transform: translateY(0);
		}
	}
	
	h3, p {
		position: absolute;
		color: var(--white);
		margin: 0 var(--def-gap);
		pointer-events: none;
		transition: var(--def-transition);
		
	}

	h3 {
		bottom: var(--def-gap);
		font-size: var(--font-normal);
		font-weight: 500;
		transform: translateY(5em);
	}

	p {
		align-self: center;
		right: 0;
		left: 0;
		text-align: center;
		font-size: var(--font-giant);
		transform: translateY(-2em);
		
	}
}


@media all and (min-width: 30rem) {
	.items {
		grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	}
}

/*==========================
=== Overview
===========================*/

.view__overview {
	// .items {
	// 	display: grid;
	// 	grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
	// 	grid-gap: 1rem;
	// }

	// img {
	// 	width: 100%;
	// }
}

@media all and (min-width: 30rem) {
	// .view__overview {
	// 	.items {
	// 		grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	// 	}
	// }
}