:root {
    --primary-color: #00B0FF;
    --white: #fff;
    --black: #3a3939;
    --overlay-dark: rgba(0, 0, 0, 0.5);
    --font-normal: .9em;
    --font-big: 1.2em;
    --font-giant: 6em;
    --def-margin-hor: 1rem;
    --def-gap: 1rem;
    --def-transition: all .3s ease-in;
}

@media all and (min-width: 40rem) {
    :root {
        --def-margin-hor: 3rem;
    }
}

/*==========================
=== Defaults and Resets
===========================*/
html {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h3, p {
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
}

.inactive {
    display: none;
}

/*==========================
=== Keyframes if there are any
===========================*/
/*==========================
=== Header / Nav
===========================*/
body > header {
    color: var(--white);
    background: var(--primary-color);
}

body > header h1 {
    margin: 0;
}

body > header a {
    color: var(--white);
}

nav ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0.5rem var(--def-margin-hor);
    height: 100%;
}

nav li:first-of-type {
    margin-right: auto;
    width: 100%;
}

nav li:not(:first-of-type) {
    height: 100%;
}

nav li:not(:first-of-type) a {
    padding: .5rem 1rem;
}

nav li:last-of-type a {
    padding-right: 0;
}

/*==========================
=== Container
===========================*/
main > section {
    margin: 0 var(--def-margin-hor);
}

/*==========================
=== Views
=== Yup using the id's becuse they are there already so why not?
=== Btw id's are somewhat faster than classes but it is insignificant
== Or do not use id's => classes again now
===========================*/
/*==========================
=== Home / User Library
===========================*/
.view__home form {
  display: flex;
  flex-direction: column;
  width: 100%; }

.view__home [type="text"] {
  font-size: 1em;
  height: 2em;
  padding: 0 .5em; }

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8em, 1fr)); }

.item {
  display: flex;
  position: relative;
  height: 100%;
  overflow: hidden; }
  .item::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: var(--black);
    transition: var(--def-transition); }
  .item:hover, .item:focus {
    outline: none; }
    .item:hover::before, .item:focus::before {
      opacity: .5; }
    .item:hover h3, .item:focus h3 {
      transform: translateY(0); }
    .item:hover p, .item:focus p {
      transform: translateY(0); }
  .item h3, .item p {
    position: absolute;
    color: var(--white);
    margin: 0 var(--def-gap);
    pointer-events: none;
    transition: var(--def-transition); }
  .item h3 {
    bottom: var(--def-gap);
    font-size: var(--font-normal);
    font-weight: 500;
    transform: translateY(5em); }
  .item p {
    align-self: center;
    right: 0;
    left: 0;
    text-align: center;
    font-size: var(--font-giant);
    transform: translateY(-2em); }

@media all and (min-width: 30rem) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr)); } }

/*==========================
=== Overview
===========================*/
