:root {
	// Colors
	--primary-color: #00B0FF;
	--white: #fff;

	// General
	--def-margin-hor: 1rem;
}

@media all and (min-width: 40rem) {
	:root {
		--def-margin-hor: 3rem;
	}
}

/*==========================
=== Defaults and Resets
===========================*/

html {
	font-family: 'Work Sans', sans-serif;
}

body {
	margin: 0;
}

ul {
	margin: 0;	
	padding: 0;
}

li {
	list-style: none;
}


.inactive {
	display: none;
}

/*==========================
=== Header /' Nav
===========================*/

body > header {
	color: var(--white);
	h1 {
		margin: 0;
	}
	a {
		color: var(--white);
	}
	background: var(--primary-color);

}

nav {
	padding: .5rem var(--def-margin-hor);
	ul {
		display: flex;

		// display: grid;
		// grid-template-columns: 1fr 1fr;
		// justify-items: center;
	}
}
	

/*==========================
=== Container
===========================*/

main {
	&>section {
		margin: 0 var(--def-margin-hor);
	}
}

/*==========================
=== Views
=== Yup using the id's becuse they are there already so why not?
=== Btw id's are somewhat faster than classes but it is insignificant
== Or do not use id's => classes again now
===========================*/

.view__home {

}

.view__details {}
.view__profile {}

@media all and (min-width: 40rem) {
	.view__home {

	}
	.view__details {}
	.view__profile {}
}

/*==========================
=== Home
===========================*/

/*==========================
=== Overview
===========================*/

.view__overview {
	.items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
		grid-gap: 1rem;
	}

	img {
		width: 100%;
	}
}

@media all and (min-width: 30rem) {
	.view__overview {
		.items {
			grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
		}
	}
}