:root {
    --primary-color: #00B0FF;
    --white: #fff;
    --black: #3a3939;
    --black2: #858585;
    --grey: #eee;
    --overlay-dark: rgba(0, 0, 0, 0.5);
    --primary-font: 'Work Sans', sans-serif;
    --font-normal: .9em;
    --font-big: 1.2em;
    --font-giant: 6em;
    --shadow-normal: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --shadow-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    --btn-padding: .5rem 1rem;
    --btn-padding-ver: .5rem;
    --btn-padding-hor: 1rem;
    --def-margin-hor: 1rem;
    --def-margin-ver: 1rem;
    --def-margin-ver2: 2rem;
    --def-radius: .15rem;
    --def-gap: 1rem;
    --def-transition: all .3s ease-in;
}

@media all and (min-width: 40rem) {
    :root {
        --def-margin-hor: 3rem;
    }
}

/*==========================
=== Defaults and Resets
===========================*/
html {
    font-family: var(--primary-font);
    color: var(--black);
}

body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

h3, p {
    margin: 0;
}

img {
    height: 100%;
    width: 100%;
}

[type="button"],
[type="button"],
button,
button a {
    cursor: pointer;
    color: var(--black2);
    background: var(--white);
    font-family: var(--primary-font);
    border-radius: var(--def-radius);
    padding: var(--btn-padding);
    transition: var(--def-transition);
}

[type="button"]:hover, [type="button"]:focus,
  [type="button"]:hover,
  [type="button"]:focus,
  button:hover,
  button:focus,
  button a:hover,
  button a:focus {
    outline: none;
    background: var(--grey);
}

/*==========================
=== Keyframes if there are any
===========================*/
@keyframes animateView {
    from {
        transform: translateY(3em);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*==========================
=== Header / Nav
===========================*/
body > header {
    color: var(--white);
    margin-bottom: var(--def-margin-ver2);
}

body > header h1 {
    margin: 0;
    color: var(--black);
    text-align: center;
}

body > header a {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 var(--def-margin-hor);
    padding: 1rem 0;
}

nav li:first-of-type {
    margin-right: auto;
    width: 100%;
}

nav li:not(:first-of-type) {
    height: 100%;
    margin-top: 1.5rem;
}

nav li:not(:first-of-type) a {
    color: var(--black2);
    margin-right: 1rem;
    border-radius: var(--def-radius);
    padding: var(--btn-padding);
    transition: var(--def-transition);
}

nav li:not(:first-of-type) a:hover, nav li:not(:first-of-type) a:focus {
    background: var(--grey);
}

nav li:last-of-type a {
    margin: 0;
    color: var(--white);
    background: var(--primary-color);
    box-shadow: var(--shadow-normal);
}

nav li:last-of-type a:hover, nav li:last-of-type a:focus {
    background: var(--primary-color);
    box-shadow: var(--shadow-hover);
}

@media all and (min-width: 30rem) {
    nav li:not(:first-of-type) {
        margin: 0;
    }
}

@media all and (min-width: 35em) {
    body > header h1 {
        text-align: inherit;
    }

    nav ul {
        margin: 0 4rem;
    }

    nav li:first-of-type {
        width: inherit;
    }
}

/*==========================
=== Container
===========================*/
main {
    margin-bottom: var(--def-margin-ver2);
}

main > section {
    margin: 0 var(--def-margin-hor);
}

@media all and (min-width: 35em) {
    main > section {
        margin: 0 4rem;
    }
}

/*==========================
=== Views
===========================*/
/*==========================
=== Home / User Library
===========================*/
.view__home form {
    display: flex;
    width: 100%;
    margin-bottom: var(--def-margin-ver2);
}

.view__home form [type="button"] {
    margin-left: 1rem;
}

.view__home [type="text"] {
    font-size: 1em;
    height: 2em;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--grey);
    padding: 0 .5em;
}

.view__home [type="text"]::-webkit-input-placeholder, .view__home [type="text"]::-moz-placeholder, .view__home [type="text"]:-ms-input-placeholder, .view__home [type="text"]:-moz-placeholder {
    /* Firefox 18- */
    color: green;
}

.view__home [type="text"]:focus, .view__home [type="text"]:hover {
    outline: none;
}

.view__home--filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--def-margin-ver);
}

.view__home--filter a {
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
    transition: var(--def-transition);
}

.view__home--filter a:focus, .view__home--filter a:hover {
    outline: none;
    color: var(--primary-color);
}

.view__home--filter a:not(:last-of-type) {
    margin-right: 1rem;
}

.view__home--filter button {
    margin-left: 1rem;
    margin-top: 1rem;
}

.user__view button {
    padding: var(--btn-padding-ver) 0;
}

.user__view button a {
    color: var(--black);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

@media all and (min-width: 30rem) {
    .view__home--filter button {
        margin-top: 0;
    }

    .view__home--filter button:first-of-type {
        margin-left: auto;
    }
}

/*==========================
=== Cards/items style
===========================*/
.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    grid-gap: 1.4rem;
}

.item {
    display: flex;
    position: relative;
    height: 100%;
    overflow: hidden;
    box-shadow: var(--shadow-normal);
    transition: var(--def-transition);
}

.item::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: var(--black);
    transition: var(--def-transition);
}

.item:hover, .item:focus {
    outline: none;
    box-shadow: var(--shadow-hover);
}

.item:hover::before, .item:focus::before {
    opacity: .4;
}

.item:hover h3, .item:focus h3 {
    transform: translateY(0);
}

.item:hover p, .item:focus p {
    transform: translateY(0);
}

.item h3, .item p {
    position: absolute;
    color: var(--white);
    margin: 0 var(--def-gap);
    pointer-events: none;
    transition: var(--def-transition);
}

.item h3 {
    bottom: var(--def-gap);
    font-size: var(--font-normal);
    font-weight: 500;
    transform: translateY(5em);
}

.item p,
  .item p::before {
    align-self: center;
    right: 0;
    left: 0;
    text-align: center;
    transform: translateY(-3em);
}

.item .item__rating {
    font-size: var(--font-giant);
}

.item .item__rating::before {
    content: "my rating";
    font-size: .8rem;
    position: absolute;
    align-self: center;
}

@media all and (min-width: 30rem) {
    .items {
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }
}

/*==========================
=== Overview
===========================*/
.view__overview .item__rating::before {
    content: "average rating";
    font-size: .8rem;
    position: absolute;
    align-self: center;
}

/*==========================
=== Animation classes
===========================*/
.inactive {
    display: none;
}

.anim__view {
    visibility: hidden;
    height: 0;
}

.anim__view--show {
    animation: animateView 1s forwards;
    visibility: visible;
    height: auto;
}

.user__view--active {
    animation: animateView 1s forwards;
    visibility: visible;
    height: auto;
}

#loader {
    width: 3rem;
    height: 3rem;
    margin: 2rem auto;
    border-style: solid;
    border-width: 5px;
    border-color: var(--grey);
    border-top-color: var(--primary-color);
    border-radius: 50%;
    animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(70deg);
    }

    50% {
        transform: rotate(150deg);
    }

    75% {
        transform: rotate(240deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
